In [132]:
# Importando as bibliotecas necessárias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Leitura das tabelas
df_stats = pd.read_csv("tb_lobby_stats_player.csv")
df_medalha = pd.read_csv("tb_medalha.csv")
df_players_medalha = pd.read_csv("tb_players_medalha.csv")
df_players = pd.read_csv("tb_players.csv")

## Análise Básica do Dataset e Tratamento de Dados
Analisando cada dataframe individualmente

In [133]:
pd.set_option('display.max_columns', 38)

df_stats: Possui dados da performance dos jogadores em várias partidas

In [134]:
# Printando as 5 primeiras linhas
df_stats.head()

,idLobbyGame,idPlayer,idRoom,qtKill,qtAssist,qtDeath,qtHs,qtBombeDefuse,qtBombePlant,qtTk,qtTkAssist,qt1Kill,qt2Kill,qt3Kill,qt4Kill,qt5Kill,qtPlusKill,qtFirstKill,vlDamage,qtHits,qtShots,qtLastAlive,qtClutchWon,qtRoundsPlayed,descMapName,vlLevel,qtSurvived,qtTrade,qtFlashAssist,qtHitHeadshot,qtHitChest,qtHitStomach,qtHitLeftAtm,qtHitRightArm,qtHitLeftLeg,qtHitRightLeg,flWinner,dtCreatedAt
0,1,1,1,5,1,16,2,0,0,0.0,0.0,3,1,0,0,0,0,1,911,25.0,212,0.0,0,17,de_mirage,10,1.0,2.0,0.0,3.0,13.0,4.0,2.0,2.0,1.0,0.0,0,2022-01-21 19:45:44
1,2,1,2,24,3,18,6,0,4,0.0,1.0,9,4,1,1,0,0,3,2933,54.0,597,1.0,1,27,de_nuke,9,8.0,1.0,0.0,7.0,26.0,14.0,2.0,1.0,1.0,3.0,1,2022-02-04 02:09:47
2,3,2,3,6,4,23,2,0,1,0.0,1.0,4,1,0,0,0,0,2,1117,31.0,207,0.0,0,25,de_mirage,2,2.0,3.0,0.0,3.0,15.0,8.0,1.0,2.0,0.0,2.0,0,2021-09-18 18:07:43
3,3,391,27508,10,5,20,4,1,0,0.0,0.0,6,2,0,0,0,0,1,1740,63.0,411,1.0,1,25,de_mirage,15,3.0,4.0,0.0,6.0,27.0,10.0,1.0,7.0,6.0,6.0,1,2021-09-18 18:07:43
4,4,2,4,8,4,26,6,0,2,0.0,0.0,4,2,0,0,0,0,1,1696,51.0,324,0.0,0,30,de_nuke,2,4.0,4.0,2.0,8.0,19.0,12.0,2.0,3.0,2.0,5.0,0,2021-09-27 00:17:45

idLobbyGame: código único de identificação do lobby <br/>
idPlayer: código único de identificação do player<br/>
idRoom: <br/>
qtKill: qt. de "Kills" que o jogador fez nessa partida <br/>
qtAssist: qt. de Assistências que o jogador fez nessa partida <br/>
qtDeath: qt. de vezes que o jogador morreu <br/>
qtHs: qt. de "Headshots" que o jogador tomou <br/>
qtBombeDefuse: qt. de Bombas Defusadas pelo jogador <br/>
qtBombePlant: qt. de Bombas Plantadas pelo jogador <br/>
qtTk: qt.de "Team Kills" que o jogador realizou (HE ou Molotov) <br/>
qtTkAssist: qt. de assistências para matar um companheiro de time o jogador fez <br/>
qt1Kill: qt. de rounds que o jogador fez 1 kill <br/>
qt2Kill: qt. de rounds que o jogador fez 2 kills <br/>
qt3Kill: qt. de rounds que o jogador fez 3 kills <br/>
qt4Kill: qt. de rounds que o jogador fez 4 kills <br/>
qt5Kill: qt. de rounds que o jogador fez 5 kills <br/>
qtPlusKill: rounds que o jogador fez mais de 5 kills (impossível, portanto só tem valores nulos) <br/>
qtFirstKill: qt. de rounds que o jogador fez a 1ª kill <br/>
vlDamage: Dano total que o jogador realizou <br/>
qtHits: número total de hits que o jogador realizou <br/>
qtShots: qt. de tiros dados <br/>
qtLastAlive: qt. de rounds que foi o último vivo <br/>
qtClutchWon: qt. de clutchs ganhos <br/>
qtRoundsPlayed: qt. de rounds jogados <br/>
descMapName: nome do mapa jogado <br/>
vlLevel: Level do jogador na GC <br/>
qtSurvived: número de rounds sobrevividos <br/>
qtTrade: número de "trade kills" <br/>
qtFlashAssist: número de assistências realizadas com flash <br/>
qtHitHeadshot: qt. de hits na cabeça feitos <br/>
qtHitChest: qt. de hits no peito feitos <br/>
qtHitStomach: qt. de hits no estômago realizados <br/>
qtHitLeftArm: qt. de hits no braço esquerdo realizados <br/>
qtHitRightArm: qt. de hits no braço direito realizados <br/>
qtHitLeftLeg: qt. de hits na perna esquerda realizados <br/>
qtHitRightLeg: qt. de hits na perna direita realizados <br/>
flWinner: flag de vitória/derrota na partida <br/>
dtCreatedAt: data e horário da partida <br/>

In [135]:
df_stats.set_index(["idLobbyGame", "idPlayer"])

                      idRoom  qtKill  qtAssist  qtDeath  qtHs  qtBombeDefuse  \
idLobbyGame idPlayer
1           1              1       5         1       16     2              0
2           1              2      24         3       18     6              0
3           2              3       6         4       23     2              0
            391        27508      10         5       20     4              1
4           2              4       8         4       26     6              0
...                      ...     ...       ...      ...   ...            ...
172907      2716      178496      21         3       13     5              1
172908      2716      178497      15         1       22     5              0
172909      2716      178498       9         6       23     2              0
172910      2716      178499      15         5       20     6              0
172911      2716      178500      12         6       11     4              0

                      qtBombePlant  qtTk  qtTkAssist  qt1Kill  qt2Kill  \
idLobbyGame idPlayer
1           1                    0   0.0         0.0        3        1
2           1                    4   0.0         1.0        9        4
3           2                    1   0.0         1.0        4        1
            391                  0   0.0         0.0        6        2
4           2                    2   0.0         0.0        4        2
...                            ...   ...         ...      ...      ...
172907      2716                 1   0.0         0.0        8        5
172908      2716                 1   0.0         0.0       11        2
172909      2716                 3   0.0         0.0        9        0
172910      2716                 2   0.0         0.0       13        1
172911      2716                 1   0.0         0.0        7        1

                      qt3Kill  qt4Kill  qt5Kill  qtPlusKill  qtFirstKill  \
idLobbyGame idPlayer
1           1               0        0        0           0            1
2           1               1        1        0           0            3
3           2               0        0        0           0            2
            391             0        0        0           0            1
4           2               0        0        0           0            1
...                       ...      ...      ...         ...          ...
172907      2716            1        0        0           0            3
172908      2716            0        0        0           0            5
172909      2716            0        0        0           0            2
172910      2716            0        0        0           0            1
172911      2716            1        0        0           0            1

                      vlDamage  qtHits  qtShots  qtLastAlive  qtClutchWon  \
idLobbyGame idPlayer
1           1              911    25.0      212          0.0            0
2           1             2933    54.0      597          1.0            1
3           2             1117    31.0      207          0.0            0
            391           1740    63.0      411          1.0            1
4           2             1696    51.0      324          0.0            0
...                        ...     ...      ...          ...          ...
172907      2716          2610    88.0      524          1.0            0
172908      2716          2154    63.0      357          0.0            0
172909      2716          1701    59.0      371          0.0            0
172910      2716          2246    65.0      355          0.0            0
172911      2716          2119    49.0      459          0.0            0

                      qtRoundsPlayed descMapName  vlLevel  qtSurvived  \
idLobbyGame idPlayer
1           1                     17   de_mirage       10         1.0
2           1                     27     de_nuke        9         8.0
3           2                     25   de_mirage        2         2.0
            391                   25   de_mirage       15         3.0
4           2                     30     de_nuke        2         4.0
...                              ...         ...      ...         ...
172907      2716                  26  de_vertigo        9        11.0
172908      2716                  29     de_nuke        9         7.0
172909      2716                  27  de_vertigo        9         4.0
172910      2716                  25    de_dust2        9         5.0
172911      2716                  21  de_inferno        9         9.0

                      qtTrade  qtFlashAssist  qtHitHeadshot  qtHitChest  \
idLobbyGame idPlayer
1           1             2.0            0.0            3.0        13.0
2           1             1.0            0.0            7.0        26.0
3           2             3.0            0.0            3.0        15.0
            391           4.0            0.0            6.0        27.0
4           2             4.0            2.0            8.0        19.0
...                       ...            ...            ...         ...
172907      2716          0.0            0.0            7.0        42.0
172908      2716          5.0            0.0            5.0        21.0
172909      2716          2.0            0.0            3.0        25.0
172910      2716          3.0            1.0            8.0        22.0
172911      2716          2.0            0.0            7.0        17.0

                      qtHitStomach  qtHitLeftAtm  qtHitRightArm  qtHitLeftLeg  \
idLobbyGame idPlayer
1           1                  4.0           2.0            2.0           1.0
2           1                 14.0           2.0            1.0           1.0
3           2                  8.0           1.0            2.0           0.0
            391               10.0           1.0            7.0           6.0
4           2                 12.0           2.0            3.0           2.0
...                            ...           ...            ...           ...
172907      2716              26.0           1.0            4.0           6.0
172908      2716              21.0           3.0            7.0           2.0
172909      2716              12.0           1.0            5.0           6.0
172910      2716              16.0           2.0            8.0           3.0
172911      2716               9.0           5.0            4.0           6.0

                      qtHitRightLeg  flWinner          dtCreatedAt
idLobbyGame idPlayer
1           1                   0.0         0  2022-01-21 19:45:44
2           1                   3.0         1  2022-02-04 02:09:47
3           2                   2.0         0  2021-09-18 18:07:43
            391                 6.0         1  2021-09-18 18:07:43
4           2                   5.0         0  2021-09-27 00:17:45
...                             ...       ...                  ...
172907      2716                2.0         1  2021-11-27 16:47:57
172908      2716                4.0         1  2021-12-10 01:08:48
172909      2716                7.0         0  2022-01-09 21:01:10
172910      2716                6.0         0  2022-01-14 17:42:37
172911      2716                1.0         1  2022-01-18 02:39:01

[184152 rows x 36 columns]

In [152]:
df_stats = df_stats.drop('qtPlusKill',1)

C:\Users\edgar\AppData\Local\Temp\ipykernel_11512\1130190212.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_stats = df_stats.drop('qtPlusKill',1)

In [153]:
# Printando dados descritivos do dataframe
df_stats.describe()

,idLobbyGame,idPlayer,idRoom,qtKill,qtAssist,qtDeath,qtHs,qtBombeDefuse,qtBombePlant,qtTk,qtTkAssist,qt1Kill,qt2Kill,qt3Kill,qt4Kill,qt5Kill,qtFirstKill,vlDamage,qtHits,qtShots,qtLastAlive,qtClutchWon,qtRoundsPlayed,vlLevel,qtSurvived,qtTrade,qtFlashAssist,qtHitHeadshot,qtHitChest,qtHitStomach,qtHitLeftAtm,qtHitRightArm,qtHitLeftLeg,qtHitRightLeg,flWinner
count,183447.000000,183447.000000,183447.000000,183447.00000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000,183447.000000
mean,84702.798710,1360.903607,88321.696528,19.11194,3.752326,18.794785,7.634439,0.316064,1.320376,0.022328,0.248181,8.008978,3.429993,1.066679,0.221088,0.024983,2.697008,2502.422672,64.244343,454.444019,0.708368,0.469574,26.458710,13.648700,6.954079,3.095254,0.570012,9.642889,29.305194,13.525509,1.902511,5.106091,2.265641,2.496509,0.495298
std,49878.574378,783.398159,51513.547002,7.48258,2.202287,5.211980,4.040309,0.575850,1.336238,0.155969,0.548603,3.042907,2.050801,1.128895,0.492373,0.159630,1.948675,878.620031,22.900774,171.294665,1.287188,0.714580,5.874364,4.679434,3.238449,1.885027,0.906774,4.769723,11.657993,7.102067,1.650325,2.924184,2.062294,2.162557,0.499979
min,1.000000,1.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,41454.500000,678.000000,43784.500000,14.00000,2.000000,16.000000,5.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2.000000,0.000000,0.000000,0.000000,1.000000,1927.000000,49.000000,341.000000,0.000000,0.000000,23.000000,10.000000,5.000000,2.000000,0.000000,6.000000,21.000000,8.000000,1.000000,3.000000,1.000000,1.000000,0.000000
50%,83776.000000,1388.000000,87824.000000,19.00000,4.000000,19.000000,7.000000,0.000000,1.000000,0.000000,0.000000,8.000000,3.000000,1.000000,0.000000,0.000000,2.000000,2454.000000,63.000000,435.000000,0.000000,0.000000,27.000000,14.000000,7.000000,3.000000,0.000000,9.000000,28.000000,13.000000,2.000000,5.000000,2.000000,2.000000,0.000000
75%,127753.500000,2055.000000,132836.500000,24.00000,5.000000,22.000000,10.000000,1.000000,2.000000,0.000000,0.000000,10.000000,5.000000,2.000000,0.000000,0.000000,4.000000,3019.000000,78.000000,546.000000,1.000000,1.000000,29.000000,18.000000,9.000000,4.000000,1.000000,12.000000,36.000000,18.000000,3.000000,7.000000,3.000000,4.000000,1.000000
max,172911.000000,2716.000000,178500.000000,85.00000,24.000000,65.000000,41.000000,5.000000,12.000000,12.000000,9.000000,31.000000,16.000000,11.000000,6.000000,3.000000,20.000000,10794.000000,277.000000,2131.000000,29.000000,8.000000,84.000000,21.000000,37.000000,20.000000,14.000000,49.000000,122.000000,77.000000,17.000000,30.000000,21.000000,22.000000,1.000000

In [137]:
# Verificando as colunas com valores nulos
df_stats.isnull().sum()

idLobbyGame         0
idPlayer            0
idRoom              0
qtKill              0
qtAssist            0
qtDeath             0
qtHs                0
qtBombeDefuse       0
qtBombePlant        0
qtTk              120
qtTkAssist        120
qt1Kill             0
qt2Kill             0
qt3Kill             0
qt4Kill             0
qt5Kill             0
qtPlusKill          0
qtFirstKill         0
vlDamage            0
qtHits            120
qtShots             0
qtLastAlive       120
qtClutchWon         0
qtRoundsPlayed      0
descMapName         0
vlLevel             0
qtSurvived        705
qtTrade           705
qtFlashAssist     705
qtHitHeadshot     705
qtHitChest        705
qtHitStomach      705
qtHitLeftAtm      705
qtHitRightArm     705
qtHitLeftLeg      705
qtHitRightLeg     705
flWinner            0
dtCreatedAt         0
dtype: int64

Os dados nulos indicam que o jogador, provavelmente, não jogou aquela partida. Não queremos esses dados, portanto, devemos dropar essas linhas

In [138]:
df_stats = df_stats.dropna()

df_medalha: Possui dados acerca de 47 medalhas disponíveis na plataforma

In [139]:
# Printando as 5 primeiras linhas
df_medalha.head()

   idMedal                  descMedal descTypeMedal
0        1             Membro Premium         MEDAL
1        2                      Elite         MEDAL
2        3                Membro Plus         MEDAL
3        4          Bom Comportamento         MEDAL
4        5  Já conquistou 25 Vitórias         MEDAL

idMedal: código único de identificação da medalha <br/>
descMedal: nome da medalha<br/>
descTypeMedal: tipo da medalha

In [154]:
df_medalha.set_index("idMedal")

                                     descMedal descTypeMedal
idMedal
1                               Membro Premium         MEDAL
2                                        Elite         MEDAL
3                                  Membro Plus         MEDAL
4                            Bom Comportamento         MEDAL
5                    Já conquistou 25 Vitórias         MEDAL
6                          Pilar da Comunidade         MEDAL
7                    Já conquistou 10 Vitórias         MEDAL
8                                 Tribo Gaules         MEDAL
9           Terminou o tutorial da Gamers Club         MEDAL
10                                 Bomberman 1         MEDAL
11                             Clutch Master 1         MEDAL
12                              Fast Trigger 1         MEDAL
13                                  Invictus 1         MEDAL
14                             King Of Lobby 1         MEDAL
15       Eu participei - Perfil Made In Brazil         MEDAL
16                           Horas Verificadas         MEDAL
17                                 Bomberman 2         MEDAL
18                             Clutch Master 2         MEDAL
19                              Fast Trigger 2         MEDAL
20                                  Invictus 2         MEDAL
21                             King Of Lobby 2         MEDAL
22                                 Brotherhood         MEDAL
23                                 Bomberman 3         MEDAL
24                              Fast Trigger 3         MEDAL
25                                  Invictus 3         MEDAL
26                             King Of Lobby 3         MEDAL
27                              Fast Trigger 4         MEDAL
28                             King Of Lobby 4         MEDAL
29                                       Prime         MEDAL
30                                      Rookie         MEDAL
31                                      Legend         MEDAL
32          Gamers Club Awards 2019 - Eu Votei         MEDAL
33                                   Aspirante         MEDAL
34                              2k20 na Cabeça         MEDAL
35                      Experiência de Batalha         MEDAL
36                                Safe do Safe         MEDAL
37                             Missão da Tribo         MEDAL
38                            Closed Beta - X1         MEDAL
39                         GamersCard - Silver         MEDAL
40                                    Fogueira         MEDAL
41                                    Pescaria         MEDAL
42         Coins - Eu participei do BETA GOLD!         MEDAL
43       Coins - Eu participei do BETA SILVER!         MEDAL
44                               Sobreviventes         MEDAL
45                          #YADINHO - Eu Fui!         MEDAL
46                               Pedra Violeta         MEDAL
47                       PIN Black Friday 2021           PIN

In [140]:
# Printando dados descritivos do dataframe
df_medalha.describe()

         idMedal
count  47.000000
mean   24.000000
std    13.711309
min     1.000000
25%    12.500000
50%    24.000000
75%    35.500000
max    47.000000

In [141]:
# Verificando as colunas com valores nulos
df_medalha.isnull().sum()

idMedal          0
descMedal        0
descTypeMedal    0
dtype: int64

df_players_medalhas: Possui dados acerca das medalhas que os jogadores possuem

In [142]:
# Printando as 5 primeiras linhas
df_players_medalha.head()

   id  idPlayer  idMedal dtCreatedAt dtExpiration    dtRemove  flActive
0   1      1982        1  2018-10-04   2016-07-23  2016-07-24         0
1   2      1982        1  2018-12-12   2017-01-11  2017-01-12         0
2   3      1982        1  2019-01-08   2017-03-16  2017-03-17         0
3   4      1982        1  2018-12-09   2017-09-10  2017-09-11         0
4   5      1982        1  2018-10-04   2018-03-19  2018-03-20         0

idPlayer: código de identificação do jogador (mesmo do df_stats) <br/>
idMedal: identificação da medalha (mesmo do df_medalha) <br/>
dtCreatedAt: data de inserção da medalha <br/>
dtExpiration: data de expiração <br/>
dtRemove: data de remoção <br/>
flActive: flag que indica se a medalha está ativa ou não no perfil do jogador <br/>

In [143]:
df_players_medalha.set_index("idPlayer")

             id  idMedal dtCreatedAt dtExpiration    dtRemove  flActive
idPlayer
1982          1        1  2018-10-04   2016-07-23  2016-07-24         0
1982          2        1  2018-12-12   2017-01-11  2017-01-12         0
1982          3        1  2019-01-08   2017-03-16  2017-03-17         0
1982          4        1  2018-12-09   2017-09-10  2017-09-11         0
1982          5        1  2018-10-04   2018-03-19  2018-03-20         0
...         ...      ...         ...          ...         ...       ...
1478      26407       32  2020-03-16          NaN         NaN         1
431       26630       32  2020-02-16          NaN         NaN         1
2326      26704       32  2020-03-13          NaN         NaN         1
1657      26810       32  2019-11-07          NaN         NaN         1
1463      26911       32  2019-11-08          NaN         NaN         1

[32700 rows x 6 columns]

In [144]:
# Printando dados descritivos do dataframe
df_players_medalha.describe()

                 id      idPlayer       idMedal      flActive
count  32700.000000  32700.000000  32700.000000  32700.000000
mean   16350.500000   1358.040153     10.839817      0.463089
std     9439.821238    773.713929     12.927795      0.498643
min        1.000000      1.000000      1.000000      0.000000
25%     8175.750000    701.750000      3.000000      0.000000
50%    16350.500000   1340.000000      4.000000      0.000000
75%    24525.250000   2036.000000     15.000000      1.000000
max    32700.000000   2716.000000     47.000000      1.000000

In [145]:
# Verificando as colunas com valores nulos
df_players_medalha.isnull().sum()

id                  0
idPlayer            0
idMedal             0
dtCreatedAt         0
dtExpiration    17347
dtRemove        16778
flActive            0
dtype: int64

As colunas "dtCreatedAt" e "dtExpiration" podem possuir valores nulos, já que esses dados podem não existir para determinados casos

df_players: Possui dados acerca dos perfis dos jogadores na plataforma

In [146]:
# Printando as 5 primeiras linhas
df_players.head()

,idPlayer,flFacebook,flTwitter,flTwitch,descCountry,dtBirth,dtRegistration
0,1,0,0,0,cl,NaN,2021-03-19 21:31:39
1,2,0,0,0,br,NaN,2020-05-06 19:28:29
2,3,0,0,0,br,NaN,2020-01-28 13:00:38
3,4,0,0,0,br,NaN,2017-05-31 16:13:51
4,5,0,0,0,ar,NaN,2021-02-08 11:57:21

idPlayer: código de identificação do jogador <br/>
flFacebook: indica se o Facebook do jogador está ativo no perfil <br/>
flTwitter: indica se o Twitter do jogador está ativo no perfil <br/>
flTwitch: indica se o Twitch do jogador está ativo no perfil <br/>
descCountry: país do jogador <br/>
dtBirth: data de nascimento do jogador <br/>
dtRegistration: data de registro na plataforma <br/>

In [147]:
df_players.set_index("idPlayer")

,flFacebook,flTwitter,flTwitch,descCountry,dtBirth,dtRegistration
idPlayer,,,,,,
1,0,0,0,cl,NaN,2021-03-19 21:31:39
2,0,0,0,br,NaN,2020-05-06 19:28:29
3,0,0,0,br,NaN,2020-01-28 13:00:38
4,0,0,0,br,NaN,2017-05-31 16:13:51
5,0,0,0,ar,NaN,2021-02-08 11:57:21
...,...,...,...,...,...,...
2712,0,0,0,br,2000-03-03 00:00:00,2021-03-07 17:24:26
2713,0,0,0,br,NaN,2019-07-12 03:32:47
2714,0,0,0,br,2000-06-23 00:00:00,2017-09-12 22:43:37
2715,0,0,0,br,2001-02-21 00:00:00,2019-04-28 12:18:47
2716,0,0,0,br,1999-12-04 00:00:00,2018-05-14 13:52:06

In [148]:
# Printando dados descritivos do dataframe
df_players.describe()

         idPlayer   flFacebook    flTwitter     flTwitch
count  2716.00000  2716.000000  2716.000000  2716.000000
mean   1358.50000     0.023196     0.016200     0.019514
std     784.18599     0.150553     0.126268     0.138348
min       1.00000     0.000000     0.000000     0.000000
25%     679.75000     0.000000     0.000000     0.000000
50%    1358.50000     0.000000     0.000000     0.000000
75%    2037.25000     0.000000     0.000000     0.000000
max    2716.00000     1.000000     1.000000     1.000000

In [149]:
# Verificando as colunas com valores nulos
df_players.isnull().sum()

idPlayer            0
flFacebook          0
flTwitter           0
flTwitch            0
descCountry         0
dtBirth           708
dtRegistration      0
dtype: int64

Alguns jogadores não inseriram suas datas de nascimento em seus perfis. Como vamos utilizar esses dados nas análises, devemos excluir esses jogadores da tabela

In [157]:
df_players = df_players.dropna()